.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.DS_Store
/.quarto/
/_site/

**/*.quarto_ipynb
.positai

/data/SEA117-M026_20260128/PyGlider_Outputs

/data/capex987_20260128/Raw/
/data/capex987_20260128/esd_data_structure/*
/data/capex987_20260128/capex987_20260128_science_timeseries.csv